DEBUG=False
TESTING=False
API_HOST=0.0.0.0
API_PORT=8000
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=0.0.0.0
POSTGRES_PORT=5432
POSTGRES_NAME=db
POSTGRES_MIN_POOL_SIZE=1
POSTGRES_MIN_POOL_SIZE=5